
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&display=swap');

.Navbar-div{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
   align-items: center;
   gap: 20px;
   background-color: rgb(23, 23, 34);
   border-radius: 50px;
   height: 60px;
   margin: 20px;
   padding:0 20px 0 20px;
}
.Navbar-img img{
width: 150px;
}

.Navbar-ul{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.Navbar-ul li{
  list-style: none;
}

.Navbar-ul a{
  text-decoration: none;
  color: #fff;
}

.Navbar-input{
  position:relative;
  
}
.Navbar-input input{
  padding: 8px;
  border:none;
  border-radius:10px;
  background-color: rgb(23, 23, 34);
  color: #fff;
  
}

.Navbar-input input:focus{
outline: none;
}

.Card-div{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.Card-text p{
  font-size: 50px;
  font-weight: bold;
  max-width: 450px;
  color: rgb(49, 29, 19);
}

.Card-text h6{
  font-size: 15px;
  max-width: 350px;
  font-weight: normal;
}

.Card-button{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Card-button button{
  background-color: rgb(14, 14, 36);
  padding: 10px;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
 position: relative;
}

.Card-button-img img{
width: 20px;
}
.Card-button-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Card-button-img span{
  color: rgb(250, 92, 0);
}
.ServiceItem-img img{
background-color: rgb(0, 2, 14);
color: #FFFDD0;
}

.ServicesGrid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.ServicesGrid img{
  display: flex;
  justify-content: center;
  align-items: center;

}
.service-item-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServicesGrid-p p{
margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;  
}

.MenuGrid{
  display: grid;
  grid-template-columns: repeat(3,250px);
  gap: 50px;
  margin-left: 250px;
  /* margin-top: 50px; */
}

.MenuGrid-p{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: bold;
margin-top: 30px;
}
.Menultem-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.Menultem-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}

.Menultem-h6 img{
  background-color: rgb(250, 92, 0);
  padding: 5px;
  border-radius: 20px;
  width: 25px;
}

.Menultem img{
  width: 200px;  
  height: 200px;  
  object-fit: cover; 
  border-radius: 8px; 
}

.Menultem-h6{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.PageHeader-div-title{
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content:end;
  margin-right: 32px;
}

.Result-div h1{
  display: flex;
  flex-direction: row-reverse;
  align-items:end;
  justify-content:end;
  margin-right: 32px;
  
}


/* .result-container {
  display: flex;    
  gap: 30px;          
  margin: 20px 0;
} */


.result-section {  
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  justify-content:center;
  gap: 50px;

}


.Cart{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.result-section h4 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  max-width: 20px;

}

.result-section img{
  width: 200px;  
  height: 200px;  
  object-fit: cover; 
  border-radius: 8px; 
}

